body {
    background-color: #DEDDDE;
}
/*style for header about user + logout button*/
table.headerForUser {
    background-color: #555555;
    width: 100%;
    height: 15px;
}
td.headerForUserFirst {
    font-size: 20px;
    text-align: left;
    color: #100f0f;
}
td.headerForUserSecond {
    text-align: right;
    padding-bottom: 10px;
}
input[type=submit].headerForUserSecond {
    color: #8d8c8c;
    background-color: #555555;
    border: none;
    font-size: 15px;
}
input:invalid {
    border: red solid 3px;
}
.tab1 {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab1 button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab1 button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab1 button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 600px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: #070707;
    padding: 10px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: rgba(41, 56, 204, 0.97);
    color: #fcfcfc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 600px;
    display: none;
}

.tabcontent2 {
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 100%;
    border-left: none;
    display: none;
    height: 450px;

}

.tabcontent3 {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 450px;

}
table.userTable  {
    background-color: #cccccc;
    width: 100%;

}
tr.userTable  {
    background-color: #f3f3f3;
    height: 40px;
    border-top: #807e7e 1px;
    padding: 10px;

}
tr:nth-child(even) {
    background-color: #E5E5E5FF;
}
td.userTable  {
    height: 40px;
    padding: 10px;
    border-top: #807e7e 1px;

}
th.userTable  {
    height: 40px;
    padding: 10px;
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 200px;
    padding: 5px 10px;
    margin: 5px 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    align-items: center;
}
input[readonly] {
    width: 200px;
    padding: 5px 10px;
    margin: 5px 5px;
    border: 1px solid #c4c3c3;
    box-sizing: border-box;
    align-items: center;
    background-color: #d7d7d7;
}

/* Set a style for all buttons */
button.editButtonUserTable {
    background-color: rgba(58, 122, 196, 0.97);
    color: white;
    padding: 5px 5px;
    border: 1px solid #100f0f;
    cursor: pointer;
    width: 70%;
}

button.deleteButtonUserTable {
    background-color: #e32020;
    color: white;
    padding: 5px 5px;
    border: 1px solid #100f0f;
    cursor: pointer;
    width: 70%;
}

.deleteUserSubmit {
    background-color: #f52c2c;
    color: white;
    border: none;
    height: 35px;
    width: 100px
}

.editUserSubmit {
    background-color: rgba(14, 222, 97, 0.97);
    color: white;
    border: none;
    height: 35px;
    width: 50px;
}

.addUserSubmit {
    background-color: rgba(7, 141, 62, 0.97);
    color: #100f0f;
    border: none;
    height: 35px;
    width: 150px;
}

.container1 {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
    margin: 5% 35% 35% 35%;
    align-content: center;
    align-self: center;
    background-color: #fefefe;
    width: 30%; /* Could be more or less, depending on screen size */
}
.modal-content1 {
    align-content: center;
    align-self: center;
    background-color: #fefefe;
    width: 100%;
    height: 100%;

}


#nav-item li a:active {
    background-color: #7B7B7B;
}
.user-select-auto {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    width: 200px;
    height: 42px;
    margin-bottom: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;

}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}